//fonts e variaveis

$heading-font:'Sora', sans-serif;


//colors
  //pink
$pinkMain:#f67ac8;
$pinkSub:#f8a5d1;
$pinkDark:#7a2d52;

  //gray

$grayMain:#f2f2f2;
$graySub:#9e9e9e;
$grayDark:#424242;

  //white
$whiteMain:#ffffff;
$whiteSub:#f5f5f5;
$whiteDark:#e0e0e0;

  //black
$blackMain:#000000;
$blackSub:#212121;
$blackDark:#000000;